#film

	.wrapper._passion

		h1.title
			| We make films. <br> We are Saus+Chop.

		ul.content
			li.box.first
				.overlay
				p.title LIAM BAILEY
				.circle
					p.play PLAY
			li.box.second
				.overlay
				p.title EXAMINE
				.circle
					p.play PLAY
			br
			li.box.third
				.overlay
				p.title VIVIENE
				.circle
					p.play PLAY

	.player_1.player
		iframe(
			src="http://player.vimeo.com/video/45704286?api=1&amp;player_id=player1",
			frameborder="0",
			id="player1"
		)

	.player_2.player
		iframe(
			src="http://player.vimeo.com/video/97357697?api=1&amp;player_id=player1",
			frameborder="0",
			id="player2"
		)

	.player_3.player
		//- iframe(
		//- 	src="http://player.vimeo.com/video/97357697?api=1&amp;player_id=player1",
		//- 	frameborder="0",
		//- 	id="player2"
		//- )